body{
	display:grid;
	grid-template-columns:2fr 50% 1fr;
	/*grid-template-columns:20% auto 10%;*/
	/*grid-template-columns:auto auto auto;*/
	grid-template-rows:auto auto auto auto auto;
	grid-template-areas:"uno uno uno" 
	"tres cuatro cinco" 
	"seis siete ocho" 
	"seis siete nueve" 
	"dos dos dos";
}
.e1{
	background-color:red;
	grid-area:uno;
}
.e2{
	background-color:orange;
	grid-area:dos;
}
.e3{
	background-color:yellow;
	grid-area:tres;
}
.e4{
	background-color:green;
	grid-area:cuatro;
}
.e5{
	background-color:blue;
	grid-area:cinco;
}
.e6{
	background-color:purple;
	grid-area:seis;
}
.e7{background-color:silver;
	grid-area:siete;
}
.e8{
	background-color:pink;
	grid-area:ocho;
}
.e9{
	background-color:salmon;
	grid-area:nueve;
}
h1{
	margin:0;
	text-align:center;
}

/*CAMBIAR EL GRID CUANDO LA RESULOCIÓN ES MENOR DE 700PX */
@media(max-width:700px){
	body{
		/*Creamos un grid de 2 columnas */
		grid-template-areas:"uno dos" 
			"tres cuatro" 
			"cinco seis" 
			"siete ocho" 
			"nueve nueve";
	}
}