div{
	border: 1px solid red;
	/*Hacer div flexbox*/
	display:flex;
}
.contenedor1{
	flex-direction: row; /*Comportamiento por defecto: Eje principal es el horizontal(row) */
	justify-content:flex-start;
	height: 400px;
	align-items:center;
}
.contenedor2{
	flex-direction: column; /*Eje principal es el vertical*/
	flex-wrap:wrap;
	height:500px;
	justify-content:space-evenly;
	align-items:flex-end;

}
h1{
	border: 1px solid blue;
	width: 200px;
	
}
.contenedor1 h1:first-child{
	color: blue;
	flex-grow:1;
}
.contenedor1 h1:first-child+h1{
	color: green;
	flex-grow:2;
}
.contenedor1 h1:last-child{
	color: blue;
	flex-shrink:5;
}