h1{
	text-align:center;
}

.murphy{
	width:95%;
	height:400px;
	background-color:lightgray;
	position:relative;
}

.amarillo, .azul, .verde, .rojo, .lila{
	width:300px;
	height:100px;
}


.marron{
	width:80%;
	height:50px;
	background-color:#efb377;
	border: 2px solid brown;
	position:absolute;
	left:75px;
	text-align:center;
}

.amarillo{
	background-color:lightyellow;
	border: 2px solid yellow;
	position:absolute;
	top:125px;
	left:50px;
}

.amarillo:hover, .azul:hover, .rojo:hover, .verde:hover, .lila:hover{
	z-index:20;
}

.azul{
	background-color:lightblue;
	border: 2px solid blue;
	position:absolute;
	top:125px;
	left:50%;
}

.verde{
	background-color:lightgreen;
	border: 2px solid green;
	position:absolute;
	top:190px;
	left:250px;
	z-index:10;
}

.rojo{
	background-color:#f95050;
	border: 2px solid red; 
	position:absolute;
	top:250px;
	left:50%;
}

.rojo, .azul{
	text-align:right;
}

.lila{
	background-color:#fd7afd;
	border: 2px solid purple;
	position:absolute;
	top: 250px;
	left:50px;
}