*{
	font-family:Calibri;
}
h1{
	text-align:center;
	/*E4*/
	font-size:xx-large;
	text-shadow: 3px 3px 5px black;
}
header>h1{
	color:blue;
}
.tipoPlato h1{
	color:green;
}
footer{
	text-align:center;
	color:silver;
}
.plato h2{
	color:orange;
	font-weight:bold;
	word-spacing: 10px;
}
.plato>li:first-child{
	background-color:beige;
}
.plato>li:last-child{
	background-color:bisque;
}
.plato p+p{
	font-weight:bold;
}
.plato p+p~p{
	font-weight:bold;
}
#autor{
	font-style:italic;
}
a:link{
	color:green;
}
a:visited{
	color:green;
}
a:link:hover{
	background-color:red;
}
section.envio h1{
	color:white;
}
section.envio{
	background-color:grey;
	color:white;
}

ul.plato h2:first-letter{
	font-size:40pt;
}
form :focus{
	background-color:yellow;
}

.indice a{
	word-spacing:2px;
}

.plato h2+p{
	text-transform: uppercase;
	font-weight: bold;
	text-indent: 30px;
}