/* 	TABLAS */
th{
	background-color: silver;
	color: darkgray;	
}
table{
	border: 1px solid black;
	border-spacing:10px;
	border-collapse:collapse; /*Border spacing deja de tener efecto*/
}

th,td{
	border: 1px dashed blue;

}