/* 	POSICIONAMIENTO FLOTANTE */
.d1,.d2,.d3{	
	width:100px;
	height:100px;
	border:1px solid red;
	float:right;
}
.d1{
	color:red;
}
.d2{
	color:green;
}	
.d3{
	color:blue;
}

h1{
	width:100px;
	border:1px solid blue;
	clear:both; /*Hace que h1 no tenga elementos flotantes a su alrededor*/
}
/* POSICIONAMIENTO FIJO */
.d4{
	width:100px;
	height:100px;
	border:1px solid red;
	position:fixed;
	top:300px;
	left:50%;
}

/*POSICIONAMIENTO RELATIVO */
.d5{
	width:100px;
	height:100px;
	border:1px solid red;
	position:relative;
	top:30px;
	left:30px;
}
/*POSICIONAMIENTO ABSOLUTO */
.d6{
	margin-top:100px;
	width:100px;
	height:100px;
	border:1px solid red;	
	position:relative; /*Va a salir en el mismo sitio que static*/
	/*Hace que d7 se desplace respecto a d6*/
}
.d7{
	width:100px;
	height:100px;
	border:1px solid olive;	
	position:absolute;
	top:30px;
	left:30px;
}
/*POSICIONAMIENTO ADHESIVO/STICKY */
.d8{
	width:100px;
	height:100px;
	border:1px solid olive;	
	position:sticky;
	top:30px;
	left:30px;
}

.d9{
	width:300px;
	padding:50px;
	background-color:lime;
	z-index:10;
}
.d10{
	width:300px;
	padding:50px;
	background-color:pink;
	z-index:1;
	position:relative;
	top:-30px;
	left:30px;
}