/* 	PROPIEDADES AVANZADAS */
h1, p{
	width: 30%;
	height: 100px;
	border: 1px solid red;	
	
}
.noticia1{
	box-shadow: rgb(180,180,180	,0.5) -10px -10px 5px;
	border-radius: 10px;
	overflow-x:scroll;
	overflow-y:hidden;
}

h1.noticia1{
	/*rotate:z 45deg;*/
	rotate:0 0 1 45deg;
}
h1.noticia2{
	rotate:x 150deg;
}
h1.noticia3{
	rotate:y 70deg;
}

.noticia1{
	color:blue;
	-webkit-border-radius:40px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
}

p.noticia1{
	background-image:linear-gradient(to right,white,green,blue);
	background-image:radial-gradient(circle,white,green,yellow,blue);
}

